body {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left:7%;
  margin-right:7%;
}
nav{
	float:right;
}
footer{
	clear:right;
}
div{
	border:solid 2px black;
	margin:auto;
	max-width:1200px;
}
