body {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left:7%;
  margin-right:7%;
}
nav{
	text-align: center;
  clear:right;
  background-color: #1269E1;
  color: #FFFFFF;
}
header{
	border-bottom:solid 2px black;
	min-height:130px;
}
header img{
	float:right;
}
main{
	padding-left:2%;
}
footer{
	clear:right;
}
h1{
	margin-top:0;
	padding-top:2.5%;
	margin-bottom:0;
	padding-left:2%;
}
h2{
	margin-top:0;
  margin-bottom: 0px;
	padding-left:2%;
}
h3{
	margin-top:0;
	padding-top:1%;
}
.container{
	border:solid 2px black;
	margin:auto;
	max-width:775px;
  min-width: 546px;
}
iframe{
  border:none;

}
/*Section of style for the articles*/

/*.article{
  color: #FFFFFF;
  background-color: #0F0F0F;
  padding: 10%;
  margin: 0px;
}
.article h5{
  font-size: 18px;
}
.article p{
  font-size: 12px;
  text-align: justify;
}*/

aside {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  background-color: #0C489A;
  padding: 25px;
  margin: 0px;
  width: 200px;
  float:right;
}
aside p {
    font-size: 12px;
    text-align: justify;
}
aside h5 {
      font-size: 18px;
  }
aside img{
  width: 100%;
  border-radius: 5px;
}

h4{
  margin: 0px;
  padding: 10px;
}
