body {
  font-family: 'Roboto Condensed', sans-serif;
  margin-left:7%;
  margin-right:7%;
}
nav{
	text-align: center;
	clear:right;
	background-color: #1269E1;
	color: #FFFFFF;
	border-bottom: solid 2px black;
}
header{
	border-bottom:solid 2px black;
	min-height:130px;
	background-color:#FFFFFF;
}
header img{
	float:right;
}
#main{
	color:#FFFFFF;
	height:100%;

}
footer{
	clear:both;
	text-align:center;
	border-top:solid 2px black;
	background-color:#160084;
	color:#FFFFFF;
}
footer h6{
	padding-top:1%;
	margin-top:0%;
	margin-bottom:0;
}

h1{
	margin-top:0;
	padding-top:2.5%;
	margin-bottom:0;
	padding-left:2%;
}
h2{
	margin-top:0;
  margin-bottom: 0px;
	padding-left:2%;
}
h3{
	margin-top:0;
	padding-top:1%;
}
.container{
	border:solid 2px black;
	margin:auto;
	max-width:775px;
	min-width: 546px;
	background-color:#0006ba;
}

#content{
	float:left;
	width:68%;
	background-color:#0006ba;
	padding-left:2%;
}
/*Section of style for the articles*/

/*.article{
  color: #FFFFFF;
  background-color: #0F0F0F;
  padding: 10%;
  margin: 0px;
}
.article h5{
  font-size: 18px;
}
.article p{
  font-size: 12px;
  text-align: justify;
}*/

aside {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFF;
  background-color: #000482;
  margin: 0;
   padding: 5px;
  width:28.5%;
  float:right;
}
aside p {
    font-size: 12px;
    text-align: justify;
}
aside h5 {
      font-size: 18px;
  }
aside img{
  width: 100%;
  border-radius: 5px;
}
#aside{
	min-height:90em;
}
h4{
  margin: 0px;
  padding: 10px;
}
a:link, a:visited{
  color: #1269E1;
  background-color: inherit;
}
a:hover{
  color: #FFFFFF;
  background-color: inherit;
  box-shadow: 0px 0px 3px;
}

table{
  border-collapse: collapse;
  width:100%;
}
table, th, td{
  border: 3px solid #1269E1;
}
